aiohttp<=3.10.11
aiohttp-retry
eth_abi
eth_utils
hyperliquid-python-sdk==0.17.0
lighter-sdk @ git+https://github.com/elliottech/lighter-python.git@d0009799970aad54ebb940aa3dc90cbc00028c54
millify
pandas
plotly
psycopg2-binary
pydantic
python-dotenv
requests
SQLAlchemy
streamlit==1.48.0
web3
